.auth-layout {
    background: linear-gradient(225deg,#00000000,#C46600);
    width: 100%;
    min-height:100vh;
    position:relative;

    display:flex;
    justify-content:center;
    align-items:start;
}
