.request-item {
    background-color: #5A189A;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
}
.request{
    margin: 7px;
    width: 16px;
    height: 16px;
}
/*requestitem
color: color-secondary-bg
width: 30px
height: 30px
border:none;
border-radius: 10px;

request
margin: 7px;
width: 16px;
height: 16px;*/