.loading-screen{
    width:100vw;
    height:100vh;
}
    .loading-screen > .title-container > * + *,
    .loading-screen > .loading-container > * + * {
        text-align: center;
        margin-top: 10px;
    }
    .loading-screen > .app-logo{
        width:143px;
        height:143px;
    }



.loading-screen > * + *{
    margin-top:80px;
}
.loading-logo{
    width:143px;
    height:143px;
}

.loading-element {
    background-color:var(--color-gray);
    width:104px;
    height:39px;
}