
.page-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    overflow-y: hidden;
}

.box {
    position:relative;
    background: #ffffff88;
    width: 350px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 0;
}

    .box > * + * {
        margin-top: 10px;
    }
.title-content{
    position:absolute;
    top:50%;
    left:2%;
    transform:translate(0,-50%);
    justify-content:start;
    align-items:center;
}

.meta-content {
    position: absolute;
    bottom:5%;
    right: 2%;
    justify-content: start;
    align-items: center;
    color:var(--color-deep-gray);
}