.test-screen
{
    position:relative;
}

.session-nav {
    position:absolute;
    bottom:10%;
    left:50%;
    transform:translateX(-50%);
    width: 220px;
    height: 60px;
    border-radius: 30px;
    background:#00000088;

    &__button {
        width:60px;
        height: 60px;
    }
}