/* _content/Web/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-739djkm78g] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-739djkm78g] {
    flex: 1;
}

.sidebar[b-739djkm78g] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-739djkm78g] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-739djkm78g]  a, .top-row[b-739djkm78g]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-739djkm78g]  a:hover, .top-row[b-739djkm78g]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-739djkm78g]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-739djkm78g] {
        justify-content: space-between;
    }

    .top-row[b-739djkm78g]  a, .top-row[b-739djkm78g]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-739djkm78g] {
        flex-direction: row;
    }

    .sidebar[b-739djkm78g] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-739djkm78g] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-739djkm78g]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-739djkm78g], article[b-739djkm78g] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-739djkm78g] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-739djkm78g] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/Web/Components/Pages/Home.razor.rz.scp.css */
.developer-section-container[b-l0gfn74exd]{
    padding-top:100px;
}

.developer-section-container[b-l0gfn74exd],
#pagelist-container[b-l0gfn74exd] {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.team-logo[b-l0gfn74exd]{
    width:150px;
    height:117px;
}

#pagelist-container > li[b-l0gfn74exd]{
    border-bottom:solid white 1px;
    width:300px;
    padding-left:10px;
    margin:10px 0 ;
    cursor:pointer;
}
/* _content/Web/Components/Pages/SessionLink.razor.rz.scp.css */
#wrapper[b-nrkreluhnm]{
    position: relative;
    width: 100%;
    height: 100%;
    overflow:hidden;
}
#background[b-nrkreluhnm]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit:cover;
    filter: blur(20px);
    z-index:0;
}
#wrapper[b-nrkreluhnm]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    filter: brightness(40%);
    opacity: 0.5; /*ぼかし*/
    z-index: 1;
}

#contact-container[b-nrkreluhnm] {
    position: absolute;
    margin: 43px 0px 0px 24px;
    padding: 0;
    width: 32px;
    height: 32px;
    z-index: 2;
}

#music-container[b-nrkreluhnm] {
    position: absolute;
    margin-top: 302px;
    left: 50%;
    /*transformで中央に置く*/
    transform: translateX(-50%);
    text-align: center;
    z-index: 3;
}
h1#music-informaion[b-nrkreluhnm]{
    margin-bottom: 20px;
}
#title-container[b-nrkreluhnm],
#scene-container[b-nrkreluhnm] {
    display: flex;
    justify-content: center;
    align-items: center; /* ← これで中央揃え */
    text-align: left; /* 行内の文字は自然な左寄せ */
    white-space: nowrap;
    margin-bottom: 12px;
    gap: 17px;
}
h2#title[b-nrkreluhnm]{
    margin: 0;
    padding: 0;
}
h2#scene[b-nrkreluhnm]{
    margin:0;
    padding:0;
}

#music-title[b-nrkreluhnm],
#scene-title[b-nrkreluhnm]
{
    margin: 0;
    padding: 0;
}

#tag-container[b-nrkreluhnm] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    white-space: nowrap;
    margin-bottom: 53px;
}
#tag-title[b-nrkreluhnm] {
    margin: 0px 10px 0px 0px;
}

#tag[b-nrkreluhnm] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 0px;
    width: 70px;
    height: 27px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.80);
}

#open-btn[b-nrkreluhnm] {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--color-applemusic);
    z-index: 4;
}



#open-text[b-nrkreluhnm] {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
}

/*------------------ dialog ------------------*/
#exitConfirmDialog[b-nrkreluhnm] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 350px;
    height: 251px;
    opacity: 0.8;
    background-color: white;
    backdrop-filter: blur(5px); /*背景だけぼかす*/
    border: none;
    border-radius: 10px;
    z-index: 10;
}

#cancel-img[b-nrkreluhnm] {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    margin: 12px 0px 0px 9px;
    padding: 0;
}
#e-title[b-nrkreluhnm] {
    color: black;
    text-align: center;
    align-items: center;
    margin-top: 41px;
    padding: 0;
}
#e-description[b-nrkreluhnm] {
    color: black;
    text-align: center;
    align-items: center;
    margin-top: 38px;
    padding: 0;
}
#button-container[b-nrkreluhnm]{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 47px;
    padding: 0;
    gap: 31px;
}
#cancel-btn[b-nrkreluhnm]{
    color: white;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-deep-gray);
}
#exit-btn[b-nrkreluhnm]{
    color: white;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-applemusic);
}



/* _content/Web/Components/Pages/SessionRequest.razor.rz.scp.css */
#wrapper[b-tklsusd25y] {
    position: relative;
    width: 100%;
    height: 100%;
}

#title[b-tklsusd25y] {
    margin: 59px 150px 31px 150px;
    padding: 0;
    color: white;
}

#search-box[b-tklsusd25y] {
    width: 250px;
    height: 40px;
    margin: 0px 70px 41px 70px;
    padding: 0;
    display: flex;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #919191;
    background-color: #0D0E10;
}

.search-mark[b-tklsusd25y] {
    width: 12px;
    height: 12px;
    margin: 14px 4px 14px 13px;
}

#search[b-tklsusd25y] {
    color: #919191;
    outline: none;
    background: none;
    border: none;
}

#music-list[b-tklsusd25y] {
    display: flex;
    justify-content: center;
    border:none;
    margin: 0;
    padding: 0;
}




/*=======menu-bar=======*/
.menu-container[b-tklsusd25y] {
    position: fixed;
    top:0;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
/* _content/Web/Components/Pages/SessionRequestBoard.razor.rz.scp.css */
#wrapper[b-airo7hijbe] {
    position: relative;
    top:0;
    width:100%;
    height:100%;
}


/*====ArrowLeftIcon====*/
.icon-container[b-airo7hijbe]{
    margin-top: 25px;
    margin-left: 18px;
}
.arrow-left-icon[b-airo7hijbe] {
    width: 48px;
    height: 47px;
    transform: rotate(90deg); /*iconを90°の角度で回転させる*/
}

.img-container[b-airo7hijbe] {
    display: flex;
    justify-content: center;
}

.music-pic[b-airo7hijbe] {
    margin-top: 139px;
    width: 225px;
    height: 225px;
}


.music-info-container[b-airo7hijbe] {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}
#song-title[b-airo7hijbe]{
    display: flex;
    justify-content:center;
    align-content:center;
    margin: 0;
}
#artist[b-airo7hijbe] {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
}

#button-container[b-airo7hijbe]{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;

}

.request-icon[b-airo7hijbe] {
    width: 16px;
    height: 16px;

}

#button-style[b-airo7hijbe] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    border: none;
    background-color: darkviolet;

}
#request-text[b-airo7hijbe] {
    color: #FFF;
    text-align: center;
    margin: 0 0 0 15px;
}

/*==========MenuBar==========*/
#menu-container[b-airo7hijbe] {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
/* _content/Web/Components/UI/cards/ArtistLabel.razor.rz.scp.css */
.artist-label[b-b5derkp35q] {
    display: flex;
    align-content: center;
    margin-bottom: 14px;
    width: 350px;
    height: 61px;
    list-style: none;
    border-bottom: 1px solid white;
}

.artist-pic[b-b5derkp35q] {
    display: flex;
    justify-content: center;
    margin: 0 13px;
    width: 50px;
    height: 50px;
}

.artist-info[b-b5derkp35q] {
    display: flex;
}

.artist[b-b5derkp35q] {
    display: flex;
    align-content: center;
    margin: 16px 0px;
    padding: 0;
}

.arrow-icon[b-b5derkp35q] {
    margin-left: auto; /* ← 念のため右端に寄せる補助 */
    margin-right: 22px;
    align-content: center;
    padding: 0;
}
/* _content/Web/Components/UI/cards/MusicLabel.razor.rz.scp.css */

.music-label[b-3nzndewyj3] {
    display: flex;
    align-content: center;
    margin-bottom: 14px;
    width: 350px;
    height: 61px;
    list-style: none;
    border-bottom: 1px solid white;
}

.music-pic[b-3nzndewyj3] {
    display: flex;
    justify-content: center;
    margin: 0 13px;
    width: 50px;
    height: 50px;
}

.music-info[b-3nzndewyj3] {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    align-content: center;
    gap: 7px;
}

.music-title[b-3nzndewyj3] {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.music-artist[b-3nzndewyj3] {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.arrow-icon[b-3nzndewyj3] {
    margin-left: auto; /* ← 念のため右端に寄せる補助 */
    margin-right: 22px;
    align-content: center;
    padding: 0;
}
/* _content/Web/Components/UI/elements/MenuBar.razor.rz.scp.css */
/*===========menu_bar============*/
#menu-container[b-gz835h6ids] {
    display: flex;
    justify-content: center;
    margin-top: 704px;
}

#menu-bar[b-gz835h6ids] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 216px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    list-style: none;
    gap: 54px;
    z-index: 5;
}

#menu-bar button[b-gz835h6ids] {
    margin: 0px;
    padding: 0px;
    border: none;
    background: none; /* ← この1行が重要！ */
}

#menu-bar img[b-gz835h6ids] {
    width: 24px;
    height: 24px;
}
/* _content/Web/Components/UI/elements/Request.razor.rz.scp.css */
.request-item[b-pf9efy7k4h] {
    background-color: #5A189A;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
}
.request[b-pf9efy7k4h]{
    margin: 7px;
    width: 16px;
    height: 16px;
}
/*requestitem
color: color-secondary-bg
width: 30px
height: 30px
border:none;
border-radius: 10px;

request
margin: 7px;
width: 16px;
height: 16px;*/
/* _content/Web/Components/UI/icons/ArrowRightIcon.razor.rz.scp.css */
.arrow-right-icon[b-zughe1vubi] {
    width: 32px;
    height: 32px;
    transform: rotate(-90deg); /*iconを90°の角度で回転させる*/
}
/* _content/Web/Components/UI/icons/ArrowUpIcon.razor.rz.scp.css */
.icon-container[b-v5hj9jgl5z] {
    background-color: #5A189A;
    border-radius: 10px;
    width: 30px;
    height: 30px;
}

.arrow-up-icon[b-v5hj9jgl5z] {
    margin: 7px;
    padding: 0;
    width: 16px;
    height: 16px;
}
