:root {
    --color-primary: #FF8500;
    --color-secondary: #240046;
    --color-spotify-primary: #1ED760;
    --color-spotify-secondary: #147235;
    --color-anselected: #1D1D1D;
    --color-secondary-bg: #5A189A;
    --color-applemusic: #FA233B;
    --color-gray: #CCCCCC;
    --color-deep-gray:#555555;
}
